arxiv==1.2.0
asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Django==3.2.3
feedparser==6.0.2
gTTS==2.2.2
gunicorn==20.1.0
idna==2.10
pymed==0.8.9
pytz==2021.1
requests==2.25.1
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.5
whitenoise==5.2.0
